.products h3 {
	margin-top: 40px;
	margin-bottom: 16px;
	font-family: Montserrat;
	font-weight: 600;
	font-style: SemiBold;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	color: #2c2d2e;
}
.products h3 span {
	color: #ef7c00;
}
.products-btn {
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}
.products-imgs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.products-img {
	max-width: 203px;
	max-height: 305px;
}
.products-img img {
	width: 100%;
}
@media (max-width: 1150px) {
	.products-btn {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 650px) {
	.products-imgs {
		flex-wrap: wrap;
		justify-content: center;
	}
	.products-imgs img {
		width: 100%;
	}
}

.product-cotologe {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 42px;
	margin-bottom: 50px;
}
